export(dcDAGannotate)
export(dcDAGdomainSim)
export(dcEnrichment)
export(dcRDataLoader)
export(dcRWRpipeline)
exportClasses(Anno)
exportClasses(AnnoData)
exportClasses(InfoDataFrame)
exportMethods("[")
exportMethods(Data)
exportMethods(annoData)
exportMethods(colNames)
exportMethods(dData)
exportMethods(dim)
exportMethods(dimLabels)
exportMethods(domainData)
exportMethods(domainNames)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(rowNames)
exportMethods(show)
exportMethods(tData)
exportMethods(termData)
exportMethods(termNames)
import(Matrix)
import(igraph)
import(methods)
importFrom(dnet,dCheckParallel)
importFrom(dnet,dDAGgeneSim)
importFrom(dnet,dDAGinduce)
importFrom(dnet,dDAGlevel)
importFrom(dnet,dDAGroot)
importFrom(dnet,dDAGtermSim)
importFrom(dnet,dDAGtip)
importFrom(dnet,dRWR)
importFrom(dnet,visDAG)
